pandas
numpy
duckdb
ray ## Ray can only be installed on python 3.8-3.11 
fastapi
uvicorn
redis
yfinance
click
pytest
requests
ccxt
fakeredis
plotly
python-jose[cryptography]
passlib[bcrypt]
python-multipart
